<div class="full-jumbotron no-padding row home-head">
  <div class="col-md-12 header-home-left text-center">
    <img src="https://coffree.lemonstand.com/resources/coffree/img/logo.png?1483671106">
  </div>
</div>



<div class="jumbotron row featured text-center">
  <h4 class="buffer">What you can get</h4>
  <p class="space-bottom">We have flexible plans whether you are subscribing for the office or for yourself</p>
  <div class="col-md-12 pricing-box">
    <span class="title">Our Plans</span>
    <div class="col-md-6 text-center">
      <img src="//d2pm12cz12gs8x.cloudfront.net/store-coffree-54dbd2e9d457d/uploaded/thumbnails/single_autox500-jpg-crop.png?1424218053" alt="One Bag">
      <h2>One Bag</h2>
      <p>
      $12.00 
              <sub>/mo</sub>
            </p>
      
      <p><p>If you are just buying for yourself, choose your favorite coffee bean and get it delivered monthly. You can change the blend each month if you would like.</p></p><br>
      <a href="/product/one-bag" class="btn btn-important">I want this!</a>
    </div>

    <div class="col-md-6 text-center">
      <img src="//d2pm12cz12gs8x.cloudfront.net/store-coffree-54dbd2e9d457d/uploaded/thumbnails/triple_autox500-jpg-crop.png?1424218053" alt="Three Bags">
      <h2>Three Bags</h2>
      <p>
      $30.00 
              <sub>/mo</sub>
            </p>
      
      <p><p>Buy all of the same blend, or mix and match your favorite coffee beans with this monthly plan. You can change your preferences at any time.</p></p><br>
      <a href="/product/three-bags" class="btn btn-important">I want this!</a>
    </div>
  </div>
  <br>
</div>

<div class="jumbotron row about-bar text-center no-border">
  <h4 class="buffer">Our Story and Mission</h4>
  <p class="space-bottom">Finding a way to serve eachother accross the world.</p>
  <div class="col-md-7 no-padding">
    <img src="//d2pm12cz12gs8x.cloudfront.net/store-coffree-54dbd2e9d457d/themes/coffree/resources/img/charity.jpg?1423869487">
  </div>
  <div class="col-md-5">
    <img src="//d2pm12cz12gs8x.cloudfront.net/store-coffree-54dbd2e9d457d/themes/coffree/resources/img/help.png?1423871067" alt="">
    <p>For every coffee bag we send to you, we will donate 10% of our profits to a charity of your choice.</p>
<p>We believe in paying it forward to those in need. Money should never be a concernt to those who need it. Our team goes out to Africa every year to build houses. Check out the about page to learn more about our trip to Africa!</p>
  </div>
</div> 
