<div class="full-jumbotron no-padding row contact-head contact" style="background: url(https://drscdn.500px.org/photo/16314327/q%3D80_h%3D300/61e80d1cbfa5ab8655efebb9758f2b55);
">
  <div class="col-md-12 text-center">
    <h1>결제 내역</h1>
  </div>
</div>


<div class="jumbotron row">

    <a href="">
      <div class="row" id="subscription-row">
        <div class="col-md-2">
          <p><span class="strong">구매번호:</span><%=@order.id%></p>
        </div>
        <div class="col-md-8">
          <p><span class="strong">구매날짜:</span><%=@order.created_at%></p>
        </div>
        <div class="col-md-2">
          <p><span class="strong">현재상태:</span><%=@order.status%></p>
        </div>
      </div>
    </a>
    
</div> 

